/* surasti fontą */

* {
  margin: 0;
}
:root {
  --primary-color: rgb(255, 232, 186);
}

body {
  min-width: 400px;
}

main {
  padding: 0 3rem;
  min-height: 100vh;
  background-color: var(--primary-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;

  h2 {
    cursor: pointer;
  }
}

hr {
  border: none;
  height: 0.5px;
  background-color: black;
}

footer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2.5rem 2rem;
}

.reverse {
  transform: scaleX(-1);
}

.underline {
  text-decoration-line: underline;
  cursor: pointer;
  /* padaryti, kad nebūtų tarpo */
}

.header-nav {
  display: none;

  li {
    cursor: pointer;
  }
}

.shopping-cart-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 30px;
  }

  span {
    font-size: 20px;
  }
}

.burger-button {
  width: 30px;
  cursor: pointer;
}

.popular-collar-title {
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.3px;
  width: 100%;
  text-align: center;
  text-wrap: stable;
  padding: 1rem 1rem;
  /* Padaryti, kad tekstas didėtų ir nepersikeltų */
}

.popular-collar-image {
  width: 100%;
  height: 15rem;
  border-radius: 60px;
  object-fit: cover;
}

.popular-collar-section-card-wrapper {
  display: flex;
  flex-direction: column;
}

.popular-collar-subtitle {
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 1.3px;
  width: 100%;
  text-align: start;
  text-wrap: stable;
  margin: 2rem 0;
  /* Padaryti, kad tekstas didėtų ir nepersikeltų */
}

.learn-about-us-main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.learn-about-us-paragraph {
  font-size: 1.2rem;
  letter-spacing: 0.4px;
}

.learn-about-us-hlink {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  text-decoration-line: underline;
}

.collar-section-overview-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.7rem;
  padding: 5rem 0;
}

.collar-section-overview-dog-image {
  width: 60%;
  height: 339px;
  object-fit: cover;
}

.collar-section-overview-collar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  align-self: flex-end;
  gap: 1rem;

  .collar-card {
    width: 100%;
    height: 0;
    padding: 70% 0;
    position: relative;
    background-image: url("./images/Iris-collar.jpg");
    background-size: cover;
    background-position: center;

    button {
      color: white;
      background-color: black;
      border: none;
      font-size: 0.75rem;
      position: absolute;
      bottom: -0.5rem;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 118px;
      height: 48px;
      opacity: 0;
      transition: 0.5s;
    }

    .collar-card-name-and-price {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .product-name,
      .product-price {
        width: 100%;
        /* padaryti, kad product-price centruotų */
      }
    }
  }
}

.collar-section-overview-collar-wrapper:hover {
  .collar-card {
    button {
      opacity: 1;
    }
  }
}

.product-display-section {
  background-color: rgb(230, 216, 249);
  display: flex;
  justify-content: space-around;
  padding: 2rem 0rem;
  position: relative;

  .product-display-section-arrow-button {
    width: 60px;
    opacity: 0.6;
    cursor: pointer;
    transform: translate(-50% -50%);
    position: absolute;
    right: 1.5rem;
    top: 35%;
  }
}

.product-display-card {
  flex: 1;
  cursor: grab;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  img {
    width: 80%;
    height: 60%;
    object-fit: cover;
  }

  h3 {
    font-weight: 300;
    font-size: 1.5rem;
  }

  button {
    background-color: transparent;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    border-style: none;
    border: 2px black solid;
    cursor: pointer;
  }

  button:hover {
    color: rgb(230, 216, 249);
    background-color: black;
    transition: 0.2s;
  }
}

#linda-baggie-carrier {
  position: absolute;
  opacity: 0;
}

.review-section {
  background-image: url(./images/review-background.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 3.5rem;
    text-align: center;
  }

  .review-card-wrapper {
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
      width: 25%;
    }

    h5 {
      font-size: 1.2rem;
    }

    p {
      text-align: center;
      font-size: 1.3rem;
    }
  }

  .review-button-wrapper {
    margin: 2rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    gap: 1rem;

    img {
      width: 50%;
      opacity: 0.7;
    }
  }
}

.footer-header-and-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  a {
    color: black;
  }
}

.footer-image-grid-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  /* padaryti, jog mažėjant ekranui img aukštėtų */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
  }
}
.footer-utilities-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2 auto);
  grid-template-rows: repeat(4 auto);
  gap: 2rem;

  a {
    color: black;
  }

  h2 {
    justify-self: start;
    align-self: center;
  }

  .social-logo-wrapper {
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0 4rem;

    img {
      width: 20px;
    }
  }

  ul {
    align-self: flex-end;
    list-style: none;
    padding: 0;
    font-size: 1.2rem;

    li {
      a {
        color: black;
      }
    }
  }

  h4 {
    padding: 0 2rem;
    justify-self: center;
    align-self: flex-end;
  }

  h3 {
    grid-column: 1/3;
    align-self: center;
    width: 100%;
    justify-self: start;
    text-align: left;
  }

  .newsletter-sign-up-wrapper {
    grid-column: 1/3;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    .email-adress-input {
      height: 70px;
      width: 284px;
      box-sizing: border-box;
      font-size: 1.1rem;
      border: none;
      border: 1px solid rgb(220, 216, 216);
      padding: 0 2rem;
    }
    .sign-up-button {
      height: 70px;
      min-width: 141px;
      font-size: 1.1rem;
      border: none;
      border: 2px solid rgb(0, 0, 0);
      border-radius: 8px;
      background-color: transparent;
    }
  }
}

@media (min-width: 768px) {
  main {
    padding: 0 2rem;
  }

  header {
    height: 60px;
  }

  .burger-button {
    display: none;
  }

  .header-nav {
    display: inline-block;

    ul {
      display: flex;
      list-style: none;
      gap: 1rem;

      li {
        font-size: 1.3rem;
      }
    }
  }

  .collar-section-overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 4rem;
    gap: 3rem;

    .popular-collar-subtitle {
      width: 100%;
      /* Padaryti, kad tekstas didėtų ir nepersikeltų */
    }
    .learn-about-us-main-wrapper {
      width: 70%;
      justify-self: end;
    }
  }

  .popular-collar-image {
    width: 100%;
    height: auto;
    border-radius: 60px;
    object-fit: cover;
    box-sizing: border-box;
  }

  .collar-section-overview-container {
    grid-column: 1/3;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .collar-section-overview-dog-image {
    width: 75%;
    height: 110%;
    object-fit: cover;
    justify-self: end;
  }

  .collar-section-overview-collar-wrapper {
    justify-self: center;
    width: 50%;
    gap: 1rem;
  }

  #linda-baggie-carrier {
    position: static;
    opacity: 1;
  }

  .footer-header-and-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .footer-image-grid-wrapper {
    display: flex;

    img {
      width: 25%;
    }
  }

  .footer-utilities-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2 auto);
    gap: 2rem;

    a {
      color: black;
    }

    .social-logo-wrapper {
      grid-column: 1/2;
      justify-self: start;
      padding: 0;
    }

    ul {
      grid-column: 2/3;
      grid-row: 1/4;
      align-self: center;
    }

    h4 {
      grid-column: 1/2;
      align-self: start;
      justify-self: start;
      padding: 0;
    }

    h3 {
      grid-column: 3/4;
      grid-row: 1/3;
    }

    .newsletter-sign-up-wrapper {
      grid-column: 3/4;
    }
  }
}
